@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Agile Development platform</h1>
        <a>Some text content</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agile Manifesto</h2>
        <p>Agile software development describes an approach to software development under which requirements and solutions evolve through the collaborative effort of self-organizing and cross-functional teams and their customer(s)/end user(s). </p>
        <p>The term agile (sometimes written Agile) was popularized, in this context, by the Manifesto for Agile Software Development. </p>
        <p><a class="btn btn-default" href="http://agilemanifesto.org/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is Scrum?</h2>
        <p>
            Scrum is a framework for developing and sustaining complex products. This Guide contains the definition of Scrum. This definition consists of Scrum’s roles, events, artifacts, and the rules that bind them together. Ken Schwaber and Jeff Sutherland developed Scrum; the Scrum Guide is written and provided by them. Together, they stand behind the Scrum Guide.
        </p>
        <p><a class="btn btn-default" href="http://www.scrumguides.org/index.html">Learn more</a></p>
    </div>

</div>